@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  position: relative;
}

$base-color1: #0c002e;
$icon-color: #1495ff;
$font1: 'Space Mono', monospace;
$font2: 'Mulish', sans-serif;

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin media-sm {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin media-md {
  @media(min-width: 601px) and (max-width: 900px) {
    @content;
  }
}