@import "base";

#menu {
  display: none;

  @include media-sm {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    padding: 20px 15px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;

    &:hover {
      cursor: pointer;
    }
  }
}

#side-nav {
  @include center;

  @include media-sm {
      position: absolute;
      left: -200px;
      width: 15%;
      padding: 15px 0;
  }

  @include media-md {
    padding: 25px 10px;
  }

  justify-content: flex-start;
  gap: 20%;
  background: $base-color1;
  padding: 20px 10px;
  width: 15%;
  max-width: 120px;
  height: 100vh;
  position: fixed;
  z-index: 99;
  transition: .5s;


  #profile {
    border-radius: 50%;
    width: 100%;

    @include media-sm {
      width: 70%;
    }
  }

  ul {
    @include center;
    @include media-sm {
      height: 45%;
    }

    width: 100%;
    height: 50%;
    justify-content: space-between;

    li {
      list-style: none;

      a {
        color: $icon-color;

        &:hover {
          color: #f65ee0;
          text-shadow: 0 0 30px #fff;
        }

        i {
          font-size: 2.3rem;

          @include media-sm {
            font-size: 1.5rem;
          }

          @include media-md {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

#side-nav.hidden {
  position: fixed;
  left: 0;
}

#menu.slide {
  position: fixed;
  left: 20%;
}

header {
  @include center;

  height: 100vh;
  background: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 110px;

  @include media-sm {
    background-position: 15%;
    margin-left: 0;
  }

  @include media-md {
    background-position: 25%;
  }
  

  #name {
    border-radius: 20px;
    padding:30px 20px;

    @include center;

    h1 {
      font-family: $font1;
      font-size: 4rem;
      color: #fff;
      text-shadow: 5px 0 30px #000;

      @include media-sm {
        font-size: 2rem;
      }

      @include media-md {
        font-size: 3.5rem;
      }
    }

    h2 {
      font-family: $font2;
      color: #fff;
      font-size: 2rem;

      @include media-sm {
        font-size: 1.2rem;
      }
    }
  }

  #nav-links {
    position: absolute;
    top: 10%;
    width: 40%;
    max-width: 500px;
    font-family: $font2;
    font-size: 1.5rem;

    @include media-sm {
      @include center;

      height: 180px;
      justify-content: flex-start;
    }

    @include media-md {
      width: 50%;
    }

    ul {
      display: flex;
      justify-content: space-between;

      @include media-sm {
        gap: 25px;
        background: rgba(12, 1, 71, 0.5);
        border-radius: 15px;
        padding: 10px 20px;
      }

      li {
        list-style: none;

        a {
          color: #fff;
          font-weight: 700;
          text-decoration: none;
          border-radius: 15px;
          padding: 10px 20px;
          background: rgba(222, 225, 253, 0.1);

          &:hover {
            color: $icon-color;
            text-shadow: 0 0 10px $icon-color;
            box-shadow: 0 0 10px $icon-color;
          }

          @include media-sm {
            font-size: 1.1rem;
            background: transparent;
            text-shadow: 0 0 10px #fff;
            padding: 10px 0;
            
            &:hover {
            font-weight: 700;
            box-shadow: none;
            }
          }
        }
      }
    }
  }
}

main {
  @include center;

  margin-left: 110px;
  background: url('../images/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: flex-start;
  padding-bottom: 80px;

  @include media-sm {
    margin-left: 0;
  }


  #about-me {
    @include center;

    height: 100vh;

    @include media-sm {
      height: auto;
    }

    h2 {
      color: #fff;
      text-shadow: 0 0 3px #fff;
      font-family: $font1;
      font-size: 2.8rem;
      margin: 180px 0;

      @include media-md {
        font-size: 2.3rem;
        margin-top: 50px;
      }

      @include media-sm {
        font-size: 2rem;
        margin-bottom: 100px;
      }
    }

    p {
      width: 80%;
      text-align: center;
      font-size: 1.8rem;
      font-family: $font2;
      color: #fff;
      line-height: 2;
      font-weight: 700;

      @include media-md {
        font-size: 1.5rem;
        width: 90%;
      }

      @include media-sm {
        width: 92%;
        font-size: 1.2rem;
      }
    }
  }
}