@import "base";

#menu {
  display: none;

  @include media-sm {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    transition: .5s;

    &:hover {
      cursor: pointer;
    }
  }
}

#side-nav {
  @include center;

  @include media-sm {
      position: absolute;
      left: -200px;
      width: 15%;
      padding: 15px 0;
  }

  @include media-md {
    padding: 25px 10px;
  }

  justify-content: flex-start;
  gap: 20%;
  background: $base-color1;
  padding: 20px 10px;
  width: 15%;
  max-width: 120px;
  height: 100vh;
  position: sticky;
  z-index: 99;
  transition: .5s;


  #profile {
    border-radius: 50%;
    width: 100%;

    @include media-sm {
      width: 70%;
    }
  }

  ul {
    @include center;
    @include media-sm {
      height: 45%;
    }

    width: 100%;
    height: 50%;
    justify-content: space-between;

    li {
      list-style: none;

      a {
        color: $icon-color;

        &:hover {
          color: #f65ee0;
          text-shadow: 0 0 30px #fff;
        }

        i {
          font-size: 2.3rem;

          @include media-sm {
            font-size: 1.5rem;
          }

          @include media-md {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

#side-nav.hidden {
  left: 0;
}

#menu.slide {
  position: absolute;
  left: 20%;
}

header {
  height: 100vh;
  width: 100vw;
  border: solid white;
  background: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-sm {
    background-position: 15%;
  }
  

  #name {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 20px;
    padding:30px 20px;

    @include center;
    @include media-sm {
      width: 100%;
      top: 50%;
    }

    h1 {
      font-family: $font1;
      font-size: 4rem;
      color: #fff;
      text-shadow: 5px 0 30px #000;

      @include media-sm {
        font-size: 1.8rem;
      }
    }

    h2 {
      font-family: $font2;
      color: #fff;
      font-size: 2rem;

      @include media-sm {
        font-size: 1.2rem;
      }
    }
  }
}